absl-py
accelerate
acres
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
arxiv
asttokens
astunparse
attrs
audioop-lts
Authlib
autodistill
autodistill-yolov8
bcrypt
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chronos-forecasting
ci-info
click
cloudpathlib
colorama
comm
community
confection
configobj
configparser
contourpy
cryptography
curl_cffi
cycler
cyclopts
cymem
Cython
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distlib
distro
dnspython
docstring_parser
docutils
einops
email-validator
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
et_xmlfile
etelemetry
evds
exceptiongroup
executing
ezdxf
fabric
faiss-cpu
fake
Faker
fastapi
fastmcp
feedparser
ffmpy
filelock
filetype
Flask
flask-cors
flatbuffers
fonttools
fpdf
frontend
frozendict
frozenlist
fsspec
gast
gensim
gitdb
GitPython
gluonts
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
google-pasta
googleapis-common-protos
gradio
gradio_client
greenlet
groovy
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
imageio
investpy
invoke
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
Keras-Preprocessing
kiwisolver
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
language_data
lazy-object-proxy
libclang
looseversion
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mcp
mdurl
ml_dtypes
more-itertools
mpmath
multidict
multiprocess
multitasking
murmurhash
mypy_extensions
namex
narwhals
nest-asyncio
networkx
nibabel
nipype
nltk
numpy
openai
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
opencv-python-headless
openpyxl
openseespy
opsvis
opt_einsum
optree
orjson
ormsgpack
packaging
pandas
paramiko
parse
parso
pathable
pathlib
patsy
pdfminer.six
pdfplumber
peewee
pillow
pillow_heif
planesections
platformdirs
plotly
preshed
prettytable
prompt_toolkit
propcache
proto-plus
protobuf
prov
psutil
pure_eval
puremagic
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
pydub
pygame
Pygments
PyMuPDF
PyNaCl
PyNiteFEA
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
python-dateutil
python-dotenv
python-multipart
pytz
pywsd
pyxnat
PyYAML
pyzmq
rdflib
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rich
rich-rst
roboflow
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
sentence-transformers
sentencepiece
sentry-sdk
setuptools
sgmllib3k
shapely
shellingham
simplejson
six
smart_open
smmap
sniffio
soupsieve
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-streamlit
spacy-transformers
SQLAlchemy
srsly
sse-starlette
stack-data
starlette
statsmodels
streamlit
striprtf
supervision
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
textalloc
tf_keras
thinc
thop
threadpoolctl
tokenizers
toml
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
traits
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
ultralytics
Unidecode
uritemplate
urllib3
uuid_utils
uvicorn
virtualenv
wasabi
watchdog
wcwidth
weasel
websockets
Werkzeug
wheel
widgetsnbextension
wn
wrapt
xgboost
xlrd
xxhash
yarl
yfinance
zstandard
